@import 'popple.styl'
@media screen and (max-width:1920px)
	body
		background url('../../img/background_1920.jpg') no-repeat
@media screen and (max-width:1600px)
	body
		background url('../../img/background_1600.jpg') no-repeat
@media screen and (max-width:1440px)
	body
		background url('../../img/background_1440.jpg') no-repeat
@media screen and (max-width:1366px)
	body
		background url('../../img/background_1366.jpg') no-repeat

@media screen and (max-width:1024px)
	body
		background url('../../img/background_1024.jpg') no-repeat
@media screen and (min-width:1921px)
	body
		background url('../../img/background_2560.jpg') no-repeat
.align_c
	margin 0 auto
.login
	size(100%,100%)
	.main 
		Acenter('c')
		size(480,280)
		background #E6E6E6
		background rgba(230,230,230,0.9)
		border-radius 5px 
		-moz-opacity 0.9
		-khtml-opacity 0.9
		filter alpha\(opacity\=90\)
		.hidden
			display none
		h1
			size( 380, ())
			margin-top -25px
		.balloon
			size(45,56)
			background url('../../img/balloon.png') no-repeat
			position absolute
			right 0
			top -1px
	form
		z-index 1
		.input
			font bold 14px/33px '黑体'
			border 1px solid #e4e4e4
			size(381,33)
			display block
		.account
			margin-top 44px	
		.account,.password
			&::-webkit-input-placeholder
				color #d2d2d2
				font italic 14px/33px '黑体'
			&:-moz-placeholder
				color: #d2d2d2
				font italic 14px/33px '黑体'
			&::-moz-placeholder
				color: #d2d2d2
				font italic 14px/33px '黑体'
			&:-ms-input-placeholder
				color: #d2d2d2
				font italic 14px/33px '黑体'
		.password
			margin-top 17px
		.button
			margin-top 44px
			display block
			size(381,33)
			border none
			background #b3ce1e
			color #71830f
			font bold 16px/33px '黑体'
		
		

