@import 'popple.styl'
body
	background #edeff0
#header
	size(100%, 50)
	background	#FFFFFF
	._nav
		size((), 50)
	._nav li
		float left
		size(100,50)
		line-height 50px
		font-size 14px
		color #606060
		text-align center
		background url('../../img/nav_li_bg.png') no-repeat right
	.navigation
		size(60,50)
#room
	size(800, ())
	.ring
		display inline-block
		width 14px 
		height 14px
		border-radius 14px
		border:2px solid #b9d22f
		margin 0 10px 0 15px
	.current
		size(800, ())
		li 
			background #FFFFFF
			color #335dfb
			font-size 20px
			line-height 40px
			margin-top 8px
		li:first-child
			background #335dfb
			height 70px
			line-height 70px
			font-size 28px
			color #FFFFFF
			margin-top 0
	.list
		size(800, ())
		max-height 272px
		overflow-y: scroll;
		outline: none;
		text-align center
		border-collapse separate
		tr
			overflow hidden
		td,th
			size(160, 32)
			line-height 32px
			font-size 14px
		td
			color #686868
			border-spacing 5px
			background #FFFFFF
			border-top #edeff0 4px solid
			border-bottom #edeff0 4px solid
		th
			color #335dfb
	.func_bar
		size(100%, 60px)
		background #FFFFFF
		border-top #edeff0 4px solid
		line-height 60px
		font-size 14px
		position relative
	.count
		display inline-block
		size((), 60px)
		float left
		padding-left 38px
	.signin
		float right
		padding-right 38px 
		label
			vertical-align middle
	#add
		border none
		background #4b6ffa
		color #FFFFFF
		font-family inherit
		width 80px
		height 40px
		font-size 15px
		border-radius 5px
		cursor pointer
#selectDep
	size(598, ())
	border #dedede 1px solid
	display inline-block
	background #FFFFFF
	position absolute
	top 52px
	right 37px
	._select
		text-align center
		background #ededed
		line-height 32px
		font-size 12px
		font-weight normal
#departments
	display inline-block
	size(100%, ())
	color #7c7c7c
	li
		float left
		line-height 22px
		margin 3px 10px
		label
			height: 25px
			display: block
#subDep
	color #728310
	background #b3ce1d
	size(65, 20)
	border-radius 3px
	border none
	font-family inherit
	font-size 10px
	padding 0
	float right
	text-align: center;
	margin: 0 10px 10px 10px;
	cursor pointer