@import 'popple.styl'
body
	size(100%, 100%)
	background #edeff0
header
	size(100%, 44px)
	background #FFFFFF
	border-bottom 2px solid #dce0e2
	img
		margin 10px 15px
.container
	size(100%,99px)
	Acenter('c')
	.interview
		background #4b70fe
	.upload
		background #335dfb
	.room
		background #2b4fd4	
	section
		text-align	center
		size((), 33px)
		span
			display inline-block
			border 1px solid #FFFFFF
			font normal 16px/18px '微软雅黑'
			padding 1px 10px
			margin 6px
			color #FFFFFF
	.selection
		size((), 44px);
		line-height 44px
		