html,body {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 130px);
}

/*card*/
.card {
  position: relative;
  border:1px solid var(--platform-border-color);
  border-radius: 4px;
  padding: 16px 24px;
  width: 240px;
  height: 280px;
  perspective: 800px;
  perspective-origin: center;
  transform-style: preserve-3d;
}
.card .header {
  color: var(--mdc-theme-primary);
  font-size: 26px;
  margin-bottom: 28px;
}
.card .footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

/*rotate side*/
.rotate {
  transform: rotateY(-90deg);
  pointer-events: none;
}
.rotate.active {
  animation: am-rotate-active 1s forwards linear;
  pointer-events: auto;
}
.rotate.inactive {
  animation: am-rotate-inactive 1s forwards linear;
  pointer-events: none;
}

.login, .call {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

/*login*/
.login {
  transform: rotateY(0deg);
  pointer-events: auto;
}
.login .mdc-select {
  margin-bottom: 24px;
}

/*call*/
.call {
  text-align: center;
}
.call .tip {
  margin-top: 84px;
  margin-bottom: 46px;
  font-size: 18px;
}
.call .tip .waitNum {
  color: var(--mdc-theme-primary);
  font-size: 28px;
}

.call .operation .or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  font-size: 18px;
}
.call .operation .or::after,
.call .operation .or::before {
  width: 40px;
  margin: 0 8px;
  content: "";
  border-top: 1px solid #000;
}
.call .operation .link {
  color: var(--mdc-theme-primary);
  cursor: pointer;
}

.call .waiting {
  font-size: 16px;
}
.call .waiting .loading {
  margin-top: 20px;
}


.commentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 130px);
}

/*information card*/
.information {
  margin: 10px;
}
.information .avatar {
  float: left;
  width: 58px;
  height: 58px;
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 100px;
  margin-right: 20px;
}
.information .name {
  color: var(--mdc-theme-primary);
  font-size: 26px;
}
.information .specialty {
  color: #4D4D4D;
}
.information .tags {
  margin: 10px 0;
}
.information .introduction {
  height: 100px;
  overflow: auto;
}
.information .skip {
  color: var(--platform-color-red);
}

/*comment card*/
.comment {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.comment.active {
  animation: am-comment-active 1s forwards;
}
.comment.inactive {
  animation: am-comment-inactive 1s forwards;
}
.comment .header {
  margin-bottom: 0;
}
.comment .score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mdc-theme-primary);
  font-size: 16px;
}
.comment .score label {
  padding-right: 18px;
}
.comment .note {
  height: 124px;
  resize: none;
}
.comment .clock {
  color: var(--platform-color-green);
}
.comment .clock > * {
  vertical-align: text-bottom;
}

.mdc-dialog input {
  border: none;
  border-bottom: 2px solid #eee;
  outline: none;
}

.mdc-select.mdc-select--focused .mdc-select__dropdown-icon {
  filter: hue-rotate(300deg) saturate(150%);
}

/*animate*/
@keyframes am-comment-active {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
  50% {
    width: 240px;
    height: 280px;
    opacity: 0;
    padding: 16px 24px;
    margin: 10px;
  }
  100% {
    width: 240px;
    height: 280px;
    opacity: 1;
    padding: 16px 24px;
    margin: 10px;
  }
}
@keyframes am-comment-inactive {
  0% {
    width: 240px;
    height: 280px;
    opacity: 1;
    padding: 16px 24px;
    margin: 10px;
  }
  50% {
    width: 240px;
    height: 280px;
    opacity: 0;
    padding: 16px 24px;
    margin: 10px;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}
@keyframes am-rotate-active {
  0% {
    transform: perspective(1000px) rotateY(-180deg);
    opacity: 0;
  }
  50% {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 0;
  }
  51% {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 1;
  }
  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes am-rotate-inactive {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  50% {
    transform: perspective(1000px) rotateY(90deg);
  }
  100% {
    transform: perspective(1000px) rotateY(90deg);
  }
}

/*mdc override*/
.mdc-select .mdc-select__anchor, .mdc-text-field {
  display: flex;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}
.mdc-slider {
  --mdc-theme-secondary: var(--mdc-theme-primary);
}

@media screen and (max-width: 620px) {
  .commentContainer {
    flex-direction: column;
  }
}
