/*body{*/
/*  background: #edefef;*/
/*}*/
/*h3 {*/
/*  margin-top: 5px;*/
/*  margin-bottom: 5px;*/
/*}*/
/*textarea {*/
/*  background: #edeff0;*/
/*  border: none;*/
/*  font-size: 15px;*/
/*  padding: 10px;*/
/*}*/
/*.topBar span {*/
/*  display: inline-block;*/
/*  line-height: 50px;*/
/*}*/
/*.topBar .time,*/
/*.topBar .done,*/
/*.topBar .wait {*/
/*  margin: 0 0 0 10px;*/
/*}*/
/*.main {*/
/*  width: 850px;*/
/*  height: 330px;*/
/*  position: absolute;*/
/*  margin: auto;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/
/*.main .title {*/
/*  font-size: 16px;*/
/*  font-weight: bold;*/
/*  vertical-align: super;*/
/*}*/
/*.profile {*/
/*  width: 48%;*/
/*  height: 100%;*/
/*  display: inline-block;*/
/*}*/
/*.rate {*/
/*  width: 48%;*/
/*  height: 100%;*/
/*  display: inline-block;*/
/*}*/
/*.main .card {*/
/*  width: 100%;*/
/*  height: 260px;*/
/*  background: #ffffff;*/
/*  position: relative;*/
/*  padding-bottom: 40px;*/
/*}*/
/*.basicInfo {*/
/*  padding: 20px;*/
/*  color: #585858;*/
/*  font-size: 15px;*/
/*  font-weight: bold;*/
/*}*/
/*.basicInfo .infoName {*/
/*  width: 22%;*/
/*  border-right: 2px solid #7a9ece;*/
/*}*/
/*.basicInfo .infoDetail {*/
/*  padding-left: 100px;*/
/*}*/
/*.basicInfo .infoName div, .basicInfo .infoDetail div {*/
/*  line-height: 27px;*/
/*}*/
/*.rateInfo {*/
/*  padding: 20px;*/
/*  font-size: 15px;*/
/*  color: #585858;*/
/*}*/
/*.rateInfo > div:first-child {*/
/*  margin-bottom: 20px;*/
/*}*/
/*.rateInfo .submit {*/
/*  width: 60px;*/
/*  line-height: 25px;*/
/*  font-size: 14px;*/
/*  color: #ffffff;*/
/*  background: #7a9ece;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  margin-top: 9px;*/
/*  margin-right: 25px;*/
/*}*/
/*.card .action {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*}*/
/*.card .action div {*/
/*  width: 49.85%;*/
/*  line-height: 40px;*/
/*  font-size: 16px;*/
/*  text-align: center;*/
/*  background: #a0cecb;*/
/*  color: #ffffff;*/
/*  cursor: pointer;*/
/*}*/
/*.rateInfo .stars {*/
/*  display: inline-block;*/
/*}*/
/*.rateInfo span {*/
/*  vertical-align: top;*/
/*}*/
/*.recommendContent .confirm, .skipContent .confirm, .specialContent .confirm{*/
/*  background: #a0cecb;*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  margin: 10px auto 2px auto;*/
/*  width: 40px;*/
/*  line-height: 20px;*/
/*  cursor: pointer;*/
/*}*/
/*.recommendContent label {*/
/*  padding-left: 5px;*/
/*  line-height: 30px;*/
/*}*/
html,body {
  width: 100%;
  height: 100%;
}

.main {
  height: calc(100vh - 75px - 45px - 88px);
  width: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  position: relative;
}

.card {
  border:1px solid var(--mdc-theme-primary);
  border-radius:5px;
  padding: 20px;
  width: 320px;
  height: 340px;
  /*margin: 20px;*/
}

.interviewTitle {
  color: var(--mdc-theme-primary);
  font-size: 26px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  margin-bottom: 40px;
}

.submit {
  float: right;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-select--outlined .mdc-select__anchor .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  color: var(--mdc-theme-primary);
}

.container {
  width: 320px;
  height: 340px;
  perspective: 800px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 1s;
  padding: 20px;
  /*display: none;*/
}

.container #oneCard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#oneCard figure {
  display: block;
  position: absolute;
  backface-visibility: hidden;
}

#oneCard .back {
  transform: rotateY(180deg);
  text-align: center;
  background: white;
  position: relative;
}

#oneCard .back .wait {
  font-size: 26px;
  margin: 60px 0;
}

#oneCard .back .wait .wait_num {
  color: var(--mdc-theme-primary);
  font-size: 46px;
}

#oneCard .back .waitRoom {
  display: none;
}

#oneCard .back .waitRoom .roomConfirm {
  font-size: 18px;
  margin-bottom: 20px;
}

#oneCard.flipped {
  transform: rotateY(180deg);
}

#oneCard .or {
  position: relative;
  margin: 10px 0;
  font-size: 20px;
}

.or div:after, .or div:before {
  background: #000000;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 20%;
}

.or div:after {
  left: 80px;
}

.or div:before {
  right: 80px;
}

#oneCard .back .cutIn {
  color: var(--mdc-theme-primary);
}

.blurry {
  position: absolute;
  left: 20px;
  right: 20px;
}

.skeleton {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.skeleton .avatar {
  width: 60px;
  height: 60px;
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 100px;
  margin-right: 20px;
  filter: blur(4px);
}
.skeleton .line {
  flex-grow: 1;
}
.skeleton .line::before, .skeleton .line::after {
  content: '';
  display: block;
  margin: 10px 0;
  height: 8px;
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 100px;
  filter: blur(4px);
}
.skeleton .line::after {
  width: 60%;
}

.information {
  transition: 1s;
}

.information .base {
  margin-bottom: 10px;
}

.information .base .left {
  width: 60px;
  height: 60px;
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 100px;
  float: left;
}
.information .base .right {
  margin-left: 80px;
}

.information .base .right .name {
  color: var(--mdc-theme-primary);
  font-size: 26px;
}

.information .base .right .number {
  color: #4A4A4A;
}

.information .base .right .specialty {
  color: #4D4D4D;
}

.information .introduction {
  height: 160px;
  width: 318px;
  margin: 20px 0;
  overflow: scroll;
}

.information .start {
  float: right;
}

.information .skip {
  color: var(--platform-color-red);
}

.card.center {
  transform: translate(61%, 0);
}

.commentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 1s;
}

.commentContainer .comment {
  transition: 1s;
  margin:40px;
  /*display: none;*/
  /*opacity: 0;*/
  /*transform: scale();*/
}


.commentContainer .comment.none {
  width: 0;
  margin: 0;
  padding: 0;
  height: 0;
}

.commentContainer .comment .evaluation {
  color: var(--mdc-theme-primary);
  font-size: 30px;
}

.commentContainer .comment .score .text {
  float: left;
  line-height: 48px;
  color: var(--mdc-theme-primary);
  font-size: 20px;
}

.commentContainer .comment .score .mdc-slider.mdc-slider--discrete {
  margin-left: 80px;
  width: 240px;
}

.commentContainer .comment .clock {
  display: inline-block;
  color: var(--platform-color-green);
}

.commentContainer .comment .note {
  border: 1px solid #DADCE0;
  height: 160px;
  width: 318px;
  border-radius: 5px;
  margin: 10px 0 30px 0;
}

.commentContainer .comment .clock {
  margin: 6px 0;
}

.commentContainer .comment .clock .clockIcon{
  vertical-align: bottom;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}

.mdc-slider {
  --mdc-theme-secondary: var(--mdc-theme-primary);
}

