/*body {*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background: #eeeff1;*/
/*}*/
/*.container {*/
/*	position: absolute;*/
/*	width: 460px;*/
/*	padding: 0 50px;*/
/*	max-height: 500px;*/
/*	margin: auto;*/
/*	top: 0;*/
/*	left: 0;*/
/*	right: 0;*/
/*	bottom: 0;*/
/*	background: #ffffff;*/
/*	box-shadow: 0 0 15px #eee;*/
/*}*/
/*.container .clubName {*/
/*	height: 80px;*/
/*	text-align: center;*/
/*	font-size: 20px;*/
/*	line-height: 80px;*/
/*	font-weight: bold;*/
/*}*/
/*.container .writeInfo {*/
/*	overflow: scroll;*/
/*	max-height: 280px;*/
/*}*/
/*.container .department , .container .classroom{*/
/*	display: inline-block;*/
/*	width: 160px;*/
/*}*/
/*.container .department {*/
/*	float: left;*/
/*}*/
/*.container .classroom {*/
/*	float: right;*/
/*}*/
/*.container .title {*/
/*	font-size: 18px;*/
/*	vertical-align: text-bottom;*/
/*}*/
/*.container input {*/
/*	width: calc(100% - 20px);*/
/*	background: #edeff0;*/
/*	border: 1px solid #e6e6e6;*/
/*	font-size: 16px;*/
/*	margin-top: 5px;*/
/*	padding: 5px;*/
/*	color: #828384;*/
/*}*/

/*#select,#submit{*/
/*	clear: both;*/
/*	width: 215px;*/
/*	line-height: 40px;*/
/*	margin: auto;*/
/*	text-align: center;*/
/*	border-radius: 100px;*/
/*	color: #ffffff;*/
/*	font-size: 20px;*/
/*	cursor: pointer;*/
/*}*/

/*#select {*/
/*	position: relative;*/
/*	background: #a0cecb;*/
/*	margin-left: 122px;*/
/*	margin-top:	20px;*/
/*	opacity: 100;*/
/*	display: inline-block;*/
/*}*/

/*#file {*/
/*	position: absolute;*/
/*	top: -4.4px;*/
/*	left:0;*/
/*	overflow: hidden;*/
/*	border-radius: 100px;*/
/*	width: 203px;*/
/*	opacity: 0;*/
/*	cursor: pointer;*/
/*	-ms-filter: 'alpha(opacity=0)';*/
/*  }*/


/*#submit{*/
/*	background: #54c1e6;*/
/*	margin-top: 25px;*/
/*}*/

.container {
	margin: 40px;
	/*text-align: center;*/
}

.filter {
	padding: 10px 40px;
}
.filter .conditions {
	display: inline-block;
}
.filter .middle {
	vertical-align: middle;
}

.filter .mdc-fab {
	background: var(--mdc-theme-primary);
}

.tabContainer {
	display: flex;
	flex-direction: column;
}

/*提交*/
.uploadContainer {
	display: none;
	text-align: center;
}
.uploadContainer > div {
	margin: 10px;
}

.uploadContainer .department, .uploadContainer .classroom {
	display: inline-block;
}
.uploadContainer .title {
	font-size: 24px;
	color: var(--mdc-theme-primary);
}
.uploadContainer .material-icons{
	color: var(--mdc-theme-primary);
	vertical-align: text-bottom;
}

.uploadContainer input {
	line-height: 24px;
	margin: 8px;
}

.uploadContainer .classroom .departmentName {
	line-height: 24px;
	margin: 8px;
	display: inline-block;
	width: 80px;
}

.appear {
	display: block;
}
.disappear {
	display: none;
}

/*mdc*/
.mdc-data-table {
	display: flex;
}
.mdc-data-table__header-cell, .mdc-data-table__cell {
	line-height: 52px;
}

.mdc-dialog__surface,.mdc-dialog__content {
	overflow: initial;
}
.mdc-select__anchor, .mdc-text-field {
	display: flex;
	margin-top: 20px;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--mdc-theme-primary);
}
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
	color: var(--mdc-theme-primary);
}
.mdc-fab {
	width: 32px;
	height: 32px;
}
