html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1.5;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  margin: 0;
  background: #edeff0;
}
#header {
  position: relative;
  width: 100%;
  height: 50px;
/*line-height h_header*/
  background: #fff;
}
#header span {
  display: inline-block;
  line-height: 50px;
}
#header .depart {
  font-size: 20px;
}
#header .time,
#header .done,
#header .wait {
  position: relative;
  float: right;
  margin: 0 0 0 10px;
}
#main {
  width: 900px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
}
#main .profile,
#main .handle,
#main .call,
#main .rate {
  width: 445px;
  position: relative;
  float: left;
  background: #fff;
}
#main .profile,
#main .handle {
  margin-right: 10px;
}
#main .call,
#main .handle {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  height: 60px;
}
#main th.title {
  font-size: 16px;
  color: #335dfb;
  position: relative;
}
#main .profile {
  height: 330px;
  overflow-y: scroll;
  outline: none;
}
#main .profile .title,
#main .profile .prop,
#main .profile .val {
  height: 30px;
  line-height: 25px;
}
#main .profile .prop,
#main .profile .title {
  width: 70px;
  text-align: right;
}
#main .profile .val {
  padding-left: 75px;
}
#main .profile .vl {
  width: 3px;
  height: 100%;
  background: #edeff0;
  position: absolute;
  left: 100px;
  top: 0;
}
#main .profile .circle {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 2px #b3ce1d solid;
  position: absolute;
  top: 3px;
  right: -20px;
}
#main .handle .recommend {
  background: #335dfb;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 71px;
}
#main .handle .skip {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: #335dfb;
  right: 71px;
}
#main .call .next {
  background: #b3ce1d;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 11px;
  color: #728310;
  font-size: 18px;
}
#main .call .special {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  left: 61px;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  background: #b3ce1d;
}
#main .rate {
  height: 330px;
}
#main .rate .title {
  text-align: left;
  padding-left: 3px;
  padding-bottom: 40px;
}
#main .rate .circle {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 2px #b3ce1d solid;
  position: absolute;
  right: 25px;
  top: 2px;
}
#main .rate .name {
  width: 80px;
  text-align: right;
  vertical-align: top;
}
#main .rate .val {
  padding-left: 10px;
}
#main .rate textarea {
  width: 324px;
  height: 175px;
  background: #edeff0;
  resize: none;
  outline: none;
  border: none;
}
#main .commit {
  width: 76px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 20px;
  background: #b3ce1d;
  color: #728310;
}
#main #score {
  display: none;
}
#selectDep {
/*position absolute*/
  width: 120px;
  display: none;
/*top 600px*/
/*display none*/
}
#selectDep ul {
  list-style: none;
  position: relative;
  margin: 0 auto;
}
#selectDep li {
  margin: 3px 0;
/*cursor pointer*/
  line-height: 22px;
  height: 22px;
  text-align: center;
}
#selectDep li div {
  position: absolute;
  left: 0;
}
#selectDep label {
  cursor: pointer;
}
#selectDep h3 {
  line-height: 23px;
  text-align: center;
  font-size: 14px;
}
#selectDep .confirm {
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  background: #b3ce1d;
  color: #728310;
  font-size: 16px;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
}
#appointSid {
/*position absolute*/
/*top 500px*/
/*right 0*/
  display: none;
  text-align: center;
  width: 120px;
}
#appointSid input {
  width: 90%;
  margin: 5px 0;
}
#appointSid h3 {
  line-height: 23px;
  text-align: center;
  font-size: 14px;
}
#appointSid .confirm {
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  background: #b3ce1d;
  color: #728310;
  font-size: 16px;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
}
#skip {
  width: 120px;
  display: none;
}
#skip h3 {
  line-height: 23px;
  text-align: center;
  font-size: 14px;
}
#skip .confirm {
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  background: #b3ce1d;
  color: #728310;
  font-size: 16px;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
}
#confirmCommit {
  width: 120px;
}
#confirmCommit h3 {
  line-height: 23px;
  text-align: center;
  font-size: 14px;
}
#confirmCommit .confirm {
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  background: #b3ce1d;
  color: #728310;
  font-size: 16px;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
}
